[flake8]
max-line-length = 100
extend-ignore = E203, W503  # match black-style slicing; avoid false positives
exclude =
    .git,
    __pycache__,
    venv,
    env,
    build,
    dist,
    .pytest_cache,
    .github,
    image,
    globe_frames,
    assets,
    docs
# If you later add special cases, you can use:
# per-file-ignores =
#     path/to/file.py:E402
